* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
}

body {
    /* background-color: #1E3C3C; */
}

h2 {
    font-size: 36px;
    font-family:  'Eczar', serif;
    text-shadow: 1px 2px 5px #272727;
}

nav {
    width: 100%;
    padding: 0 .5rem;
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    list-style: none;
    position: relative;
    padding: .8rem;
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    padding: .5rem 1rem;
    color: #FFFFFF;
    font-size: 20px;
}

#name {
    font-family: 'Eczar', serif;
    font-size: 2rem;
    color: #FFFFFF;
}

.item {
    font-size: 1.5rem;
    border-radius: .5rem;
    /* text-shadow: 1px 1px 2px #FFFFFF; */
}

#left {
    margin-left: auto;
}

/* .flag-box {
    display: none;
    justify-content: center;
    align-items: center;
}

.flag {
    padding: 0;
} */

@media screen and (max-width: 599px) {
    nav {
        width: 100%;
    }

    nav ul {
        max-width: 90%;
        display: block;
    }

    nav ul li {
        padding: .7rem
    }

    .item {
        font-size: 1.3rem;
        text-align: center;
    }
    .name {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    nav ul li {
        padding: .3rem;
        font-size: .6rem;
    }
}

@media(hover:hover) and (pointer:fine) {
    #name:hover,.item:hover {
        text-shadow: -12px -12px 12px #835e7c,
                     12px 12px 12px #813772,
                     -12px 12px 12px #835e7c,
                     12px -12px 12px #813772;
        transition: 1s ease-in;
    }
}

@media(hover:none) and (pointer: coarse) {
    #name:active,.item:active {
        color: #813772;
    }
}

/* About */
.about-bkgr {
    background-image: url(/resources/images/maps.jpg);
    background-size: cover;
    height: 350px;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.img-box img {
    float: left;
    border-radius: 25% 8% 25% 0;
    border: 4px inset #FFFFFF;
    max-width: 350px;
    padding: 1%;
    box-shadow: -2px -3px 3px inset #272727;
}

.word-box {
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
}

.main {
    position: static;
    font-size: 18px;
}


@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}



/* Projects */

/* Mobile */
.projects {
    background-color: #062F4F;
}

.card-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0 auto;
    border-radius: 8px;
}

.card {
    height: 450px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 1px 2px 8px #813772;
    transition: .5s ease-in-out;
    border-radius: 12px;
    padding: 2%;
    position: relative;
}

.card:hover {
    box-shadow: 2px 3px 8px #EFA13A;
    transition: .5s ease-in-out;
}

.card img {
    width: 200px;
}
#bilingue {
    margin-top: -10px;
    height: 200px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}


.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
}

button,
.submit {
    padding: 8px;
    margin: 8px;
    font-size: 1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px #FFFFFF;
    color: #FFFFFF;
}

.link {
    background-color: #813772;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 4px #929292;
    transition: .5s ease-in-out;
}

.code {
    background-color: #B82601;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 4px #929292;
    transition: .5s ease-in-out;

}
.link:hover, .code:hover {
    box-shadow: 2px 2px 2px #f0d6d0;
    transition: .2s linear;
}

.link:active, .code:active {
    box-shadow: none;
    transition: 2s linear;
}


/* .link:disabled {
    background-color: rgba(146, 95, 23, );
    opacity: .3;
} */

h4 {
    font-size: 24px;
    font-family: 'Eczar', serif;
    margin-top: 5px;
}

p {
    padding: 0 10px;
    position: absolute;
    bottom: 100px;
}

/* Desktop */

@media screen and (min-width: 769px) {
    .card-container {
        flex-flow: row wrap;
    }

    .card {
        width: 275px;
    }

    img {
        width: 250px;
    }
}


/* Contact */
.form-box {
    background-color: #813772;
}
@media screen and (min-width: 769px) {
    .input {
        max-width: 500px;
    }
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

label {
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px #272727;
    padding-top: 5px;
}

.input {
    width: 80%;
    padding: 1%;
    border-radius: 8px;
    border: 1px solid #272727;
    margin: 1%;
    box-shadow: 1px 2px 8px #272727;
    color: #000000;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 3s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}

.submit {
    background-color: #B82601;
    padding: 1%;
    box-shadow: 3px 3px #272727;
    border: 1px solid #272727;
}
.submit:hover {
    box-shadow: 1.5px 1.5px #272727;
    transition: .2s linear;
}

.submit:active {
    box-shadow: none;
    transition: .2s linear;
}



/* Footer */
footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer a {
    margin: .5rem;
    border-radius: 5px;
    color: #FFFFFF;
}