* {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    background-color: #F9FAF4;
}
nav {
    width: 100%;
    padding: 0 .5rem;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;


}

nav ul li {
    list-style: none;
    position: relative;
    padding: .8rem;
    transition: 0.5s;


}

nav ul li a {
    text-decoration: none;
    padding: .5rem 1rem;
    color: #000000;


}

#name {
    font-family: 'Eczar', serif;
    font-size: 2rem;
}



.item {
    font-size: 1.5rem;
    border-radius: .5rem;
    text-shadow: 1px 1px 2px #6E6E6E;
}
#left {
    margin-left: auto;
}
.flag-box {
    display: none;
    justify-content: center;
    align-items: center;
}
.flag {
    padding: 0;
}

@media screen and (max-width: 599px) {
    nav {
        width: 100%;
    }
    nav ul {
        max-width: 90%;
        display: block;
    }
    nav ul li {
        padding: .7rem
    }

    .item {
        font-size: 1.3rem;
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    nav ul li {
        padding: .3rem;
        font-size: .6rem;
    }
}

@media(hover:hover) and (pointer:fine) {
    #name:hover, .item:hover {
        background-color: #FBDD9D;
        text-shadow: 1px 2px #4F4E28,
                     -1px 2px 3px #4F4E28;
        /* padding: 1.2rem .6rem; */
    }
}

@media(hover:none) and (pointer: coarse) {
    #name:active, .item:active {
        background-color: #FBDD9D;
        text-shadow: 1px 2px #4F4E28,
                     -1px 2px 3px #4F4E28;
        /* padding: 1.2rem .6rem; */
    }
}

/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.img-box img {
    border-radius: 50%;
    border: 4px inset #FFFFFF;
    max-width: 350px;
    padding: 1%;
    box-shadow: -2px -3px 3px inset #272727;

}
.word-box {
    text-align: center;
    max-width: 350px;

}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column;
    }
}



/* Projects */

/* Mobile */
.card-container {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 5% auto;
    border-radius: 8px;
}

.card {
    max-width: 95%;
    margin: 5% auto;
    box-shadow: 1px 2px 8px #4376c9;
    border-radius: 12px;

    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    background-color: #f9faff;
    text-align: center;
    opacity: 1;
    border-radius: 8px;
    margin-top: 2%;
}

button {
    padding: 3%;
    margin: 2%;
    font-size: 1.2rem;
    border-radius: .5rem;
    /* box-shadow: 1px 1px 5px ##FFFFFF; */
    color: #FFFFFF;
}

.link {
    background-color: #925F17;
    border: 1px solid #2c1d07;
    box-shadow: 1px 1px 4px #4F4E28;
}

.code {
    background-color: #4F4E28;
    border: 1px solid #282714;
    box-shadow: 1px 1px 4px #925F17;
}

.link:disabled {
    background-color: rgba(146, 95, 23, );
    opacity: .3;
}

img {
    border-radius: 8px;
    box-shadow: 1px 1px 5px #4376c9;
    width: 350px;
}

h2 {
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 1.4rem;
    text-shadow: 1px 1px 2px #6E6E6E;
}

p {
    max-width: 400px;
}

/* Desktop */
/* card-container> card> img, card-text> h4, p, btn-box>link, code */

@media screen and (min-width: 769px) {
    .card-container {
        flex-flow: row wrap;
    }
    .card {
        width: 275px;
    }
    img {
        width: 250px;
    }
}


/* Contact */
@media screen and (min-width: 769px) {
    #contact-form {
        width: 700px;
    }
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}