
.jumboPic {
    width: 100%;
    height: 300px;
    background: {
        color: $secondary-color;
        image: url(../resources/blogImages/coffee.jpg);
        size: cover;
    };
}

.special {
    font-size: 20px;
}

#word {
    border: 3px inset $text-color;
}
