@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Eczar:wght@400;500;700&family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');

$primary-color: #062F4F;
$secondary-color: #EFA13A;
$accent-color: #ad6ea2;
$text-color: #fff;
$code-color: rgba(255, 255, 255, 0.2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: $text-color;
}

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition-ease {
    transition: all .4s ease-in-out;
}
